@page "/admin"

@if(!_loggedIn)
{
    <div class="d-flex justify-content-center">
   <form class="form w-25 border border-dark rounded p-2" @onsubmit="@TryLogin">
        <div class="mb-3 form-group">
            <label>Username: </label>
            <input @bind-value="@_username" placeholder="username" class="form-control"/>
        </div>
        <div class="mb-3 form-group">
            <label>Password: </label>
            <input @bind-value="@_password" type="password" placeholder="password" class="form-control"/>
        </div>
        <div class="mb-3 form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Log In</button>
        </div>
    </form>
    </div>
}
else
{
    @if(_shelters == null)
    {
        <em>No shelters to manage</em>
    }
    else
    {
        <button class="btn btn-primary" @onclick="@StartNewShelter">Add New Shelter</button>
        @if(_showShelterForm)
        {
            <form class="form" @onsubmit="@ConfirmShelterEdit">
                @if(_showShelterError)
                {
                    <div class="row">
                        <div class="alert alert-danger">
                            @_errmsg
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col form-group">Name: <input @bind-value="@_editShelter.Name" class="form-control"/></div>
                    <div class="col form-group">Phone: <input @bind-value="@_editShelter.Phone" class="form-control"/></div>
                    <div class="col form-group">Email: <input @bind-value="@_editShelter.Email" class="form-control"/></div>
                </div>
                <div class="row">
                    <div class="col form-group">Street Address: <input @bind-value="@_editShelter.StreetAddress"  class="form-control"/></div>
                    <div class="col-4 form-group">City: <input @bind-value="@_editShelter.City"  class="form-control"/></div>
                    <div class="col-1 form-group">State: <input  @bind-value="@_editShelter.State" class="form-control"/></div>
                    <div class="col-1 form-group">Zip: <input  @bind-value="@_editShelter.Zip" class="form-control"/></div>
                </div>
                <div class="row">
                    <div class="col form-group">Description: <textarea @bind="@_editShelter.Description" class="form-control" /></div>
                    <div class="col-1 form-group mt-auto"><button class="btn btn-success" type="submit">Confirm</button></div>
                    <div class="col-1 form-group mt-auto"><button class="btn btn-warning" @onclick="@CancelShelterEdit" type="button">Cancel</button></div>
                </div>
            </form>
        }
        @if(_showNewShelterForm)
        {
            <form class="form" @onsubmit="@ConfirmNewShelter">
                @if(_showShelterError)
                {
                    <div class="row">
                        <div class="alert alert-danger">
                            @_errmsg
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col form-group">ID: <input @bind-value="@_newShelter.ID" class="form-control" /></div>
                    <div class="col form-group">Name: <input @bind-value="@_newShelter.Name" class="form-control"/></div>
                    <div class="col form-group">Phone: <input @bind-value="@_newShelter.Phone" class="form-control"/></div>
                    <div class="col form-group">Email: <input @bind-value="@_newShelter.Email" class="form-control"/></div>
                </div>
                <div class="row">
                    <div class="col form-group">Street Address: <input @bind-value="@_newShelter.StreetAddress"  class="form-control"/></div>
                    <div class="col-4 form-group">City: <input @bind-value="@_newShelter.City"  class="form-control"/></div>
                    <div class="col-1 form-group">State: <input  @bind-value="@_newShelter.State" class="form-control"/></div>
                    <div class="col-1 form-group">Zip: <input  @bind-value="@_newShelter.Zip" class="form-control"/></div>
                </div>
                <div class="row">
                    <div class="col form-group">Description: <textarea @bind="@_newShelter.Description" class="form-control" /></div>
                    <div class="col-1 form-group mt-auto"><button class="btn btn-success" type="submit">Confirm</button></div>
                    <div class="col-1 form-group mt-auto"><button class="btn btn-warning" @onclick="@CancelNewShelter" type="button">Cancel</button></div>
                </div>
            </form>
        }
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Actions</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            @foreach(ShelterModel shelter in _shelters)
            {
                <tr>
                    <td><button class="btn btn-info" type="button" @onclick="@(() => EditShelter(@shelter.ID))">Edit</button></td>
                    <td><button class="btn btn-danger" type="button" @onclick="@(() => DeleteShelter(@shelter.ID))">Remove</button></td>
                    <td>@shelter.ID</td>
                    <td>@shelter.Name</td>
                    <td>@shelter.StreetAddress</td>
                    <td>@shelter.City</td>
                    <td>@shelter.State</td>
                    <td>@shelter.Zip</td>
                    <td>@shelter.Phone</td>
                    <td>@shelter.Email</td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td colspan="9">@shelter.Description</td>
                </tr>
            }
            </tbody>
        </table>
        @if(_showForm)
        {
            <form class="form" @onsubmit="@ConfirmEdit">
                <div class="row">
                    <div class="col">Name: <input @bind-value="@_editAnimal.Name"/></div>
                    <div class="col">Breed: <input @bind-value="@_editAnimal.Breed" /></div>
                    <div class="col">Age: <input @bind-value="@_editAnimal.Age" /></div>
                    <div class="col">Vaccine Status: <input type="checkbox" @bind-value="@_editAnimal.IsVaxed" checked="@_editAnimal.IsVaxed"/></div>
                    <div class="col">Spayed/Neutered: <input type="checkbox" @bind-value="@_editAnimal.IsFixed" checked="@_editAnimal.IsFixed"/></div>
                </div>
                <div class="row">
                    <div class="col">Description: <textarea class="form-control" @bind="@_editAnimal.Description" /></div>
                    <div class="col-1"><button class="btn btn-success" type="submit">Confirm</button></div>
                    <div class="col-1"><button class="btn btn-warning" @onclick="@CancelEdit" type="button">Cancel</button></div>
                </div>
            </form>
        }
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Actions</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Breed</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Vaccine Status</th>
                    <th>Spayed/Neutured</th>
                    <th>Date Received</th>
                </tr>
            </thead>
            <tbody>
            @foreach(AnimalModel animal in _animals)
            {
                    <tr>
                        <td><button class="btn btn-info" type="button" @onclick="@(() => EditAnimal(@animal.ID))">Edit</button></td>
                        <td><button class="btn btn-danger" type="button" @onclick="@(() => DeleteAnimal(@animal.ID))">Remove</button></td>
                        <td>@animal.ID</td>
                        <td>@animal.Name</td>
                        <td>@animal.Type</td>
                        <td>@animal.Breed</td>
                        <td>@animal.Gender</td>
                        <td>@animal.Age</td>
                        <td>@animal.IsVaxed</td>
                        <td>@animal.IsFixed</td>
                        <td>@animal.DateReceived</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td colspan="9">@animal.Description</td>
                    </tr>
            }
            </tbody>
        </table>
    }
}