@page "/ShelterManagement"

@if(!_loggedIn)
{
    <form class="form" @onsubmit="TryLogin" @formname="loginform">
        <div class="mb-3">
            <InputText @bind-Value="_username" />
            <InputText @bind-Value="_password" />
        </div>
    </form>
}
else
{
    @if(_animals == null)
    {
        <em>No animals found for your shelter</em>
    }
    else
    {
        
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Breed</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Vaccine Status</th>
                <th>Spayed/Neutured</th>
            </thead>
            <tbody>
            @foreach(AnimalModel animal in _animals)
            {
                <tr>
                    <td>@animal.ID</td>
                    <td>@animal.Name</td>
                    <td>@animal.Type</td>
                    <td>@animal.Breed</td>
                    <td>@animal.Gender</td>
                    <td>@animal.Age</td>
                    <td>@animal.IsVaxed</td>
                    <td>@animal.IsFixed</td>
                </tr>
            }
            </tbody>
        </table>
    }
}